.homepage {
  position: relative;
}

.homepage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(0.3);
  background: url("../../assets/images/homepageBackground.jpg");
}

.text {
  position: relative;
}
